.table-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
}
.table-container .table-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-table thead tr {
  background-color: black;
  color: #ffffff;
  font-weight: bold;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
}
.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.button-content {
  padding: 6px;
  background: #bfaeae;
  border-radius: 6px;
}
